coverage/*
log/*.log
tmp/**/*
db/*.db
config/database.yml
**/*.pid
log/*.log
log/*.pid
.DS_Store
public/cache/**/*
public/system/**/*
doc/**/*
db/*.sqlite3
.project
.loadpath
nbproject/
.idea
testjour.log
*.so
*.o
Makefile
mkmf.log
*.bundle
conftest
REVISION
deploy.rb
config/global_config.yml
solr_indexes
config/newrelic.yml