/* global */
a{color:#003B67;}
a:visited{color:#003B67;}
a:hover{color:#003B67;}
.container{min-width:710px;max-width:1050px;width:90%;margin:2px auto;}
div.two-border {padding:0 4px;margin:0 5px;border-right:1px solid #eee;border-left:1px solid #eee;}
div.two-colborder {padding:0 24px;margin:0 25px;border-right:1px solid #eee;border-left:1px solid #eee;}
.left{float:left;}
.align-right{text-align:right;}
/* header */
#header{width:100%;height:64px;margin:10px 5px;}
#tag-line {font-size:1em;color:#003B67;margin-top:-32px;margin-left:69px;}
#take-tour{text-align:center;padding:13px 0;}
#take-tour a{font-size:1.6em;font-weight:bold;color:white;border:solid 1px #003B67;background:#66B022;width:140px;padding:10px 16px;text-decoration:none;}
#search-controls {margin:2px 0;text-align:right;}
#search-controls input[type='text']{margin:6px 2px 0px 2px;}
#search-controls input[type='submit']{padding:2px;margin:2px 8px 3px 2px;}
#search-box{text-align:center;color:gray;}
#user-login{text-align:right;margin-right:15px}
/* footer */
#footer{text-align:center;padding-top:6px;padding-bottom:6px;margin:20px auto;font-size:90%;background-color:#EAF4FF;width:100%;}
#footer a{text-decoration:none;}
#footer a:hover{text-decoration:underline;}
/* home page */
#advertisements{width:786px;margin:0 auto;}
#advertisements h2{margin-top:6px;font-weight:bold;font-size:24px;}
.advert {width:210px;height:190px;padding:15px;border:dashed 1px gray;line-height:30px;margin:10px 10px 20px;text-align:center;cursor:hand;}
.advert .highlight {font-size:150%;font-weight:bold;background:none;}
/* entries tag browsing */
fieldset{border:solid 1px #CCC;margin:0px;padding:10px;}
#tag-cloud{margin-top:0px;line-height:28px;}
#tag-cloud a{padding:6px;text-decoration:none;}
#tag-cloud a:visited{text-decoration:none;}
#tag-cloud a:hover{text-decoration:underline;}
.cloud1{font-size:15px;}
.cloud2{font-size:19px;}
.cloud3{font-size:23px;}
.cloud4{font-size:27px;}
.cloud5{font-size:31px;}
.cloud6{font-size:35px;}
.cloud7{font-size:39px;}
.cloud8{font-size:43px;}
.cloud9{font-size:47px;}
/* content pages */
#content-page{width:600px;margin:0px auto;font-size:18px;}
#content-page p{margin:0 0 .5em;}
/* search results */
#finder{margin:0 26px; padding-top:12px;line-height:1.3em;}
#results p{margin: 0 0 .8em;}
#results-description{border-top:solid 1px #888;background-color:#EAF4FF;margin-bottom:1em;}
#results-description input[type="radio"]{margin:4px;vertical-align:middle;} 
/* activity feed */
#status-update-field{border:solid 1px #ccc;padding:10px 7px;background-color:#eee;}
#status-update-button input{padding:0;}
.status-update-dim{}
.status-update-lit{}
ul#activity-filter{list-style:none;}
ul#activity-filter li{border-bottom:solid 1px #ccc;}
ul#activity-filter li a{text-decoration:none;}
ul#activity-filter li a:hover;{text-decoration:underline;}
.activity{clear:both;display:block;}
#activity-feed{margin:15px 0 0 0;}
#activity-feed-content .activity{margin:8px 0 4px 0;}
#activity-feed-content .activity-time{font-size:1em;font-color:#eee;clear:left;}
#activity-icon, .actor-icon{width:50px;float:left;margin:0 10px 10px 0;}
#activity-feed-content .actor, #current-status-name{font-weight:bolder;font-size:1.3em;}
.activity-time, .status-time{color:#777777;font-size:.9em;}
p#current-status-text, .activity-content p{margin:0;}
form.activity-delete {position:relative;display:inline;float:right;display:none;}
form.activity-delete input{padding:0;margin:0;width:15px;height:15px;position:absolute;right:0px;bottom:0px;}
.activity .activity-hover form.activity-delete{display:block;}
/* comments under activity feed */
.activity-comment{border:1px solid #ccc;margin:2px 50px 2px 60px;padding:.5em;background-color:#eee;}
.activity-comment .actor-icon{width:40px;}
.activity-comment .actor-icon img{width:40px;height:40px;}
.activity-comment textarea.max{width:80%;height:30px;}
.activity-comment textarea.min{height:15px;width:50%;}
.activity-comment p{margin:0;}
.activity-comment .actor a{font-size:.8em;}
.activity form.comment-delete {position:relative;display:inline;float:right;}
.activity form.comment-delete input{padding:0;margin:0;width:15px;height:15px;position:absolute;right:0px;top:0px;}
.activity form.comment-delete{display:none;}
.activity .comment-hover form.comment-delete{display:block;}