/* global */
a{color:#003B67;}
a:visited{color:#003B67;}
a:hover{color:#003B67;}
.container{min-width:720px;max-width:1050px;width:90%;margin:0 auto;}
div.two-border {padding:0 4px;margin:0 5px;border-right:1px solid #eee;border-left:1px solid #eee;}
div.two-colborder {padding:0 24px;margin:0 25px;border-right:1px solid #eee;border-left:1px solid #eee;}
.left{float:left;}
.align-right{text-align:right;}
h1{font-size:22px;font-weight:bold;}
h2{font-size:18px;font-weight:bold;color:#333;}
h3{font-size:14px;font-weight:bold;color:#333;}
.big-text{font-size:18px;}
/* header */
#logo{height:80px;}
#header{width:100%;height:84px;margin:0;background-image:url('/images/folksemantic/bg-hdr.jpg');background-repeat:no-repeat;}
#tag-line {font-size:1em;color:#003B67;margin-top:-32px;margin-left:69px;}
#take-tour{text-align:center;padding:13px 0;}
#take-tour a{font-size:1.6em;font-weight:bold;color:white;border:solid 1px #003B67;background:#66B022;width:140px;padding:10px 16px;text-decoration:none;}
#search-controls {margin:2px 0;text-align:right;}
#search-controls input[type='text']{margin:6px 2px 0px 2px;width:180px;}
#search-controls input[type='submit']{padding:2px;margin:2px 8px 3px 2px;}
#search-box{text-align:center;color:gray;}
#user-login{text-align:right;margin-right:15px}
#current-locale-flag{vertical-align:middle;}
#user-login select{margin:0;}
/* footer */
#footer{text-align:center;padding-top:6px;padding-bottom:6px;margin:20px auto;font-size:90%;background-color:#EAF4FF;width:100%;}
#footer a{text-decoration:none;}
#footer a:hover{text-decoration:underline;}
/* home page */
#advertisements{width:786px;margin:0 auto;}
#advertisements h2{margin-top:6px;font-weight:bold;font-size:24px;}
.advert {width:210px;height:190px;padding:15px;border:dashed 1px gray;line-height:30px;margin:10px 10px 20px;text-align:center;cursor:hand;}
.advert .highlight {font-size:150%;font-weight:bold;background:none;}
/* content pages */
#content-page{width:600px;margin:0px auto;font-size:18px;}
#content-page p{margin:0 0 .5em;}
/* search results */
#finder{margin:0 26px; padding-top:12px;line-height:1.3em;}
#results p{margin: 0 0 .8em;}
#results-description{border-top:solid 1px #888;background-color:#EAF4FF;margin-bottom:1em;}
#results-description span{padding-right:6px;}
.results-nav{margin:12px;text-align:center;}
.results-nav a{margin:0px 3px;}
.results-nav .current{margin:0px 3px;font-weight:bold;color:#A90A07;}
/* sign up */
#registration{height:400px;}
#registration h1{text-align:center;}
#registration h4{font-weight:bolder;}
.availability{font-weight:bolder;}
.right-tip #tip-header{background-image:url(/images/arrow_left.gif);left:-12px;height:23px;width:10px;top:-3px;}
.centered{text-align:center;}
/* widgets */
.widget-info{border:1px solid #DDD;margin-bottom:3em;padding:10px;font-size:14px;}
.screenshot{border:1px solid #666666;margin-bottom:10px;}
.features h2{margin-bottom:0px;}
.features{font-size:14px;}
.features ul{list-style-image: url(/images/icons/vote.png);padding-left:6px;}
.features li{padding-bottom:6px;}
.widget-info textarea{font-size:12px;}
/* profile */
.friendship-block a, .friendship-description a{background:#2B7EAA;padding:5px 8px;margin:4px;text-decoration:none;color:#fff;font-weight:bold;}
.friendship-block a:hover, .friendship-description a:hover{background:#8EC0DB;}
/* css for google widgets */
.slide_show_content {width:250px;height:200px;margin-bottom:40px;padding:5px;}
/* iFrame */
#toolbar{height:30px;border-bottom:1px solid #999;background-image:url('/images/folksemantic/bg-toolbar.jpg');}