/* home page */
#take-tour{float:left;margin-top:21px;margin-left:45px;background:navy;width:150px;padding:6px;font-size:20px;font-weight:bold;color:white;text-align:center;}
#user-login{width:230px;text-align:right;margin-top:3px;}
#advertisements{margin:10px auto;width:756px;}
#advertisements h2{margin-top:6px;font-weight:bold;}
.advert {width:200px;height:190px;padding:15px;border:dashed 1px gray;line-height:30px;margin:10px;text-align:center;}
.advert .highlight {font-size:150%;font-weight:bold;background:none;}
.left {float:left;}
#tag-line {font-size:12px;color:#444; margin-top:-10px;}
#header{width:750px; margin:0 auto;}
#logo {float:left; width:222px; text-align:right;}
#search-controls {float:right;width:240px; margin-right:20px;margin-top:20px;}
#search-box {text-align:center;color:gray;width:165px;}
#tag-cloud {margin-top:20px;line-height:30px; text-align:justify;}
#tag-cloud a{padding:6px;text-decoration:none;}
#tag-cloud a:visited{text-decoration:none;}
#tag-cloud a:hover{text-decoration:underline;}
.cloud1{font-size:15px;}
.cloud2{font-size:19px;}
.cloud3{font-size:23px;}
.cloud4{font-size:27px;}
.cloud5{font-size:31px;}
.cloud6{font-size:35px;}
.cloud7{font-size:39px;}
.cloud8{font-size:43px;}
.cloud9{font-size:47px;}
#status-update-field{border:solid 1px #ccc;padding:10px 7px;background-color:#eee;}
#status-update-button input{padding:0;}
.activity-delete{}
.status-update-dim{}
.status-update-lit{}

