<div class="block" id="footer">
<%= t('folksemantic.credits') %> 
</div>

<div class="block" align="center">
<a href="/?locale=de">Deutsch</a>
 | <a href="/?locale=en">English</a>
 | <a href="/?locale=es">Español</a>
 | <a href="/?locale=fr">Français</a>
 | <a href="/?locale=nl">Nederlands</a>
 | <a href="/?locale=ru">Русский язык</a>
 | <a href="/?locale=zh">中文</a>
 | <a href="/?locale=ja">日本語</a>
</div>
