<div class="block" id="footer">
Developed by Tatemai at the <a href="http://cosl.usu.edu">Center for Open and Sustainable Learning</a> with funding from the <a href="http://nsf.gov/">National Science Foundation</a> 
</div>

<div class="block" align="center">
<a href="/?locale=de">Deutsch</a>
 | <a href="/?locale=en">English</a>
 | <a href="/?locale=es">Español</a>
 | <a href="/?locale=fr">Français</a>
 | <a href="/?locale=nl">Nederlands</a>
 | <a href="/?locale=ru">Русский язык</a>
 | <a href="/?locale=zh">中文</a>
 | <a href="/?locale=ja">日本語</a>
</div>
