<div class="block" id="header">
    <div id="logo" class="span-8 column">
    <a href="/"><img src="/images/folksemantic/logo_folksemantic.jpg" alt="Folksemantic" title="Folksemantic" /></a>
    <div id="tag-line"><%= t('folksemantic.tag_line') %></div>
    </div>
    <div id="take-tour" class="span-8 column"><!--<a href='/tour'><%= t('folksemantic.tour') %></a>--></div>
    <%= render :partial => 'layouts/global/search_box' %>
</div>