<div class="block" id="header">
    <a href="/"><div id="logo" class="span-8 column">&nbsp;</div></a>
    <div id="take-tour" class="span-8 column"><!--<a href='/tour'><%= t('folksemantic.tour') %></a>--></div>
    <%= render :partial => 'layouts/global/search_box' %>
</div>