<div id="header">
  <div>
    <div id="logo">
      <a href="/"><img border="0" src="/images/folksemantic/logo_folksemantic.jpg" alt="Folksemantic" title="Folksemantic" /></a>
      <div id="tag-line"><%= t('folksemantic.tag_line') %></div>
    </div>
    <div id="take-tour">Take a Tour</div>
    <%= render :partial => 'layouts/global/search_box' %>
  </div>
  <div class="clear"></div>
</div>
