<div id="header">
  <div>
    <div id="logo">
      <a href="/"><img border="0" src="/images/folksemantic/logo_folksemantic.jpg" alt="Folksemantic" title="Folksemantic" /></a>
      <div id="tag-line"><%= t('folksemantic.tag_line') %></div>
    </div>
    <div style="float:left;margin-top:21px;margin-left:45px;background:navy;width:150px;padding:6px;font-size:20px;font-weight:bold;color:white;text-align:center;">Take a Tour</div>
    <%= render :partial => 'layouts/global/search_box' %>
  </div>
  <div class="clear"></div>
  <% if flash[:notice] %>
    <p style="color: green"><%= flash[:notice] %></p>
  <% end %>
</div>
