<div class="mceTmpl">	
	<h2>Example Template</h2>
  <p>Adding a new template is easy.  Just add a line to mce_options.rb and a the corresponding template file to javascripts/tiny_mce/templates.</p>
  <p>For example, this template lives in javascripts/tiny_mce/templates/example.htm.  The entry for the template is found in mce_options.rb and is as follows:</p>
  <pre>
    GlobalConfig.raw_mce_options = 'template_templates : [
      {
        title : "Example Template",
        src : "/javascripts/tiny_mce/templates/example.htm",
        description : "An example of how to add a template."
      }
    ]'
  </pre>
</div>